.link-btn {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $colorLinkBtn;
  border: 1px solid $colorBorderLinkBtn;
  border-radius: $borderRadius;
  padding: 12px 20px;
  width: fit-content;
  &:hover,
  &:focus {
    background-color: $colorDeсor;
    color: $colorTextLinkBtnHover;
  }
}
