//  colors
$colorBurger: #fff;
$colorLogo: #fff;
$colorTextLinkBtnHover: #fff;
$colorText: #555;
$colorTitle: #303030;
$colorCardText: #303030;
$colorBgCard: #f7f7f7;
$colorTextLight: #9da4bd;
$colorSubTitle: #303030;
$colorLinkBtn: #303030;
$colorBorderLinkBtn: #ff6c00;
$colorDeсor: #ff6c00;
$colorSubTitleMod: rgba(157, 164, 189, 0.6);

// ====
$borderRadius: 25px;
