<section class="about-as">
  <div class="about-as__container container">
    <!-- <ul class="about-as__photo-list">
      <li>
        <img src="./images/img/img 1.jpg" alt="бритье" />
      </li>
      <li>
        <img src="./images/img/img 2.jpg" alt="бритье" />
      </li>
    </ul> -->
    <p class="sub-title">о нас</p>
    <h2 class="about-as__title">Лучший Барбершоп твоего города</h2>
    <p class="about-as__text">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
    </p>
    <p class="about-as__text about-as__text--mod">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты
      попадешь в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая
      всегда с клиентами "на одной волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто
      к нам приходит!
    </p>
    <a href="#" class="link-btn about-as__link-btn">онлайн-запись</a>
  </div>
</section>
