<section class="booking">
  <div>
    <h2>Онлайн-запись</h2>
    <input type="text" name="name" id="name" placeholder="имя" />
    <input type="tel" name="tel" id="tel" placeholder="телефон" />
    <textarea name="msg" id="msg" cols="20" rows="3" placeholder="сообщение"></textarea>
    <button type="submit" class="online-sign">отправить</button>
  </div>
  <div>
    <h2>Контакты</h2>
    <address>
      <ul>
        <li>
          <img src="./images/svg/map-pin.svg" />
          <p>ул. Васильковая, 7А Киев, 08132</p>
        </li>
        <li>
          <img src="./images/svg/phone.svg" />
          <a href="tel:+380441111111"> +38 044 111 11 11 </a>
        </li>
        <li>
          <img src="./images/svg/map-pin.svg" />
          <a href="mailto:barbershop@email.com">barbershop@email.com</a>
        </li>
      </ul>
    </address>
  </div>
</section>
