<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="header__link-logo" href="#">
        <svg class="header__logo" width="69" height="56">
          <use class="header__icon-logo" href="./images/svg/icon-sprite.svg#icon-logo"></use>
        </svg>
        <!-- <img src="./images/svg/logo.svg" alt="логотип" /> -->
      </a>

      <ul class="header__nav-list">
        <li class="header__nav-list-item">
          <a href="#">Онас</a>
        </li>
        <li class="header__nav-list-item">
          <a href="#">Услуги и цены</a>
        </li>
        <li class="header__nav-list-item">
          <a href="#">Мастера</a>
        </li>
        <li class="header__nav-list-item">
          <a href="#">Контакты</a>
        </li>
      </ul>
    </nav>

    <button class="header__toggle-menu" aria-label="кнопка переключения меню" type="button">
      <span class="header__burger"></span>
    </button>

    <ul class="header__booking-list">
      <li class="header__booking-online-list-item">
        <a class="header__booking-link" href="tel:+380441111111"> +38 044 111 11 11 </a>
      </li>
      <li class="header__booking-online-list-item">
        <a class="header__booking-link booking-btn" href="#"> онлайн-запись </a>
      </li>
    </ul>

    <ul class="header__social-list">
      <li>
        <a href="#">Instagram</a>
      </li>
      <li>
        <a href="#">Youtube</a>
      </li>
    </ul>
  </div>
</header>
