<section class="price">
  <div class="prices__container container">
    <p class="sub-title sub-title--mode">Проведи время в компании лучших мастеров</p>
    <h2 class="price__title">Услуги и цены</h2>
    <div class="price__wrapper-table">
      <div class="price__table">
        <div class="price__row">
          <p class="price__service">Мужская стрижка</p>
          <div class="price__line"></div>
          <p class="price__price">от 300 грн.</p>
        </div>
        <div class="price__row">
          <p class="price__service">Стрижка бороды</p>
          <div class="price__line"></div>
          <p class="price__price">от 200 грн.</p>
        </div>
        <div class="price__row">
          <p class="price__service">Мужская усов</p>
          <div class="price__line"></div>
          <p class="price__price">от 200 грн.</p>
        </div>
        <div class="price__row">
          <p class="price__service">Бритье опасной бритвой</p>
          <div class="price__line"></div>
          <p class="price__price">от 200 грн.</p>
        </div>
      </div>
      <div class="price__table">
        <div class="price__row">
          <p class="price__service">Cтрижка у стажера</p>
          <div class="price__line"></div>
          <p class="price__price">от 50 грн.</p>
        </div>
        <div class="price__row">
          <p class="price__service">Стрижка под насадку</p>
          <div class="price__line"></div>
          <p class="price__price">от 200 грн.</p>
        </div>
        <div class="price__row">
          <p class="price__service">Детская стрижка (до 12 лет)</p>
          <div class="price__line"></div>
          <p class="price__price">от 300 грн.</p>
        </div>
        <div class="price__row">
          <p class="price__service">Камуфлирование седины</p>
          <div class="price__line"></div>
          <p class="price__price">от 200 грн.</p>
        </div>
      </div>
    </div>

    <a href="#" class="link-btn price__link-btn">онлайн-запись</a>
  </div>
</section>
