<section class="price">
  <div class="prices__container container">
    <p class="sub-title sub-title--mode">Проведи время в компании лучших мастеров</p>
    <h2 class="price__title">Услуги и цены</h2>
    <div class="price__wrapper-table">
      <table class="price__table">
        <tr>
          <td>Мужская стрижка</td>
          <td>от 300 грн.</td>
        </tr>
        <tr>
          <td>Стрижка бороды</td>
          <td>от 200 грн.</td>
        </tr>
        <tr>
          <td>Стрижка усов</td>
          <td>от 200 грн.</td>
        </tr>
        <tr>
          <td>Бритье опасной бритвой</td>
          <td>от 200 грн.</td>
        </tr>
      </table>
      <table class="price__table">
        <tr>
          <td>Cтрижка у стажера</td>
          <td>от 50 грн.</td>
        </tr>
        <tr>
          <td>Стрижка под насадку</td>
          <td>от 200 грн.</td>
        </tr>
        <tr>
          <td>Детская стрижка (до 12 лет)</td>
          <td>от 300 грн.</td>
        </tr>
        <tr>
          <td>Камуфлирование седины</td>
          <td>от 200 грн.</td>
        </tr>
      </table>
    </div>

    <a href="#" class="link-btn price__link-btn">онлайн-запись</a>
  </div>
</section>
