<section class="staff">
  <p>для настоящих ценителей атмосферы</p>
  <h2>Наши мастера</h2>
  <ul>
    <li>
      <img src="./images/img/john.jpg" alt="John Smith" />
      <h3>John Smith</h3>
      <p>Extreme Barber</p>
      <ul>
        <li>
          <a href="#">
            <img src="./images/svg/instagram.svg" alt="instagram" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/twitter.svg" alt="twitter" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/facebook.svg" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/linkedin.svg" alt="linkedin" />
          </a>
        </li>
      </ul>
    </li>
    <li>
      <img src="./images/img/michele.jpg" alt="Michele Doe" />
      <h3>Michele Doe</h3>
      <p>Extreme Barber</p>
      <ul>
        <li>
          <a href="#">
            <img src="./images/svg/instagram.svg" alt="instagram" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/twitter.svg" alt="twitter" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/facebook.svg" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/linkedin.svg" alt="linkedin" />
          </a>
        </li>
      </ul>
    </li>
    <li>
      <img src="./images/img/alan.jpg" alt="Alan Black" />
      <h3>Alan Black</h3>
      <p>Extreme Barber</p>
      <ul>
        <li>
          <a href="#">
            <img src="./images/svg/instagram.svg" alt="instagram" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/twitter.svg" alt="twitter" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/facebook.svg" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/svg/linkedin.svg" alt="linkedin" />
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
