<section class="why-are-we">
  <div class="why-are-we__container container">
    <p class="sub-title">старая традиционная школа</p>
    <h2 class="why-are-we__title">Почему приходят именно к нам?</h2>
    <p class="why-are-we__text">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
    </p>
    <ul class="why-are-we__card-list">
      <li class="why-are-we__card">
        <p class="why-are-we__card-number">600 <span class="why-are-we__card-plus">&plus;</span></p>
        <p class="why-are-we__card-text">Довольных клиентов в день</p>
      </li>
      <li class="why-are-we__card">
        <p class="why-are-we__card-number">50<span class="why-are-we__card-plus">&plus;</span></p>
        <p class="why-are-we__card-text">Наград за отличный сервис</p>
      </li>
      <li class="why-are-we__card">
        <p class="why-are-we__card-number">20<span class="why-are-we__card-plus">&plus;</span></p>
        <p class="why-are-we__card-text">Лучших мастеров Киева</p>
      </li>
      <li class="why-are-we__card">
        <p class="why-are-we__card-number">100<span class="why-are-we__card-plus">&plus;</span></p>
        <p class="why-are-we__card-text">Подарков постоянным клиентам</p>
      </li>
    </ul>
  </div>
</section>
