.price__table:first-child {
  @media (max-width: 1999px) {
    margin-bottom: 20px;
  }
}

.price__row {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.price__line {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding-bottom: 3px;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $colorBgLine;
    margin-left: 6px;
    margin-right: 6px;
  }
}
