.price__wrapper-table {
  margin-top: 20px;
  padding: 30px;
  font-size: 14px;
  line-height: 2, 142;
  letter-spacing: 0.02em;
  color: $colorTextLight;
  @media (max-width: 1280px) {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
