.price {
  background-blend-mode: multiply;
  background-image: url('../images/img/bg_price.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/img/bg_price@2x.png');
  }
}
@import './_title';
@import './_wrapper-table';
@import './_table';
@import './_link-btn';
